@import url(http://fonts.googleapis.com/css?family=Lato:900);
/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.enemy {background-image : url(enemy.gif);
  height: 50px;
  width: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;
}

.title{
  height:300px;
  width:90%;
  position: fixed;
  top: 35%;
  left: 35%;
  font-size:70px;
  font-family: 'Lato', sans-serif;

}

.hero {background-image : url(hero.gif);
  height: 50px;
  width: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;

}

.pizza {background-image : url(pizza.gif);
  height: 50px;
  width: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;
}


.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.death {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

html{
  cursor: none;
  background-size: 100%;
  background-image : url(background.gif);
  z-index: -5001;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:25px;
}
