/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.enemy {background-image : url(asteroid.png);
  height: 50px;
  width: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;
}

.hero {background-image : url(hero.png);
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -5000;
}

html, body {
  cursor: none;
  height: 100%;
}
